title Default | Gulp, Pug, Sass, TypeScript Dev Environment

//- Important Meta
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description")
meta(name="keywords")

//- Links
link(rel="stylesheet" href="css/main.css")
